<%= form_with(model: musica) do |form| %>
  <% if musica.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(musica.errors.count, "error") %> prohibited this musica from being saved:</h2>

      <ul>
        <% musica.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container justify-content-center shadow">
    <div class="row p-2">

      <div class="col-lg-5 mb-3">
        <%= form.label :nome, class: "d-flex" %>
        <%= form.text_field :nome, size: 35, class: "form-control" %>
      </div>

      <div class="col-lg-5 offset-lg-1  mb-3">
        <%= form.label :interprete, class: "d-flex" %>
        <%= form.text_field :interprete, size: 35, class: "form-control" %>
      </div>

      <div class="col-lg-2 col-5 mb-3">
        <%= form.label :tom_original, class: "d-flex" %>
        <%= form.text_field :tom_original, size: 4, class: "form-control" %>
      </div>

      <div class="col-lg-2 col-5 offset-lg-1  mb-3">
        <%= form.label :ultimo_tom_tocado, class: "d-flex" %>
        <%= form.text_field :ultimo_tom_tocado, size: 4, class: "form-control" %>
      </div>

      <div class="col-lg-2 col-5 offset-lg-1  mb-3">
        <%= form.label :bmp_original, class: "d-flex" %>
        <%= form.number_field :bmp_original, size: 4, class: "form-control col-5" %>
      </div>

      <div class="col-lg-2 col-5 offset-lg-1  mb-3">
        <%= form.label :ultimo_bpm_tocado, class: "d-flex" %>
        <%= form.number_field :ultimo_bpm_tocado, size: 4, class: "form-control col-5" %>
      </div>

      <div class="col-lg-11 mb-3">
        <%= form.label :obs, class: "d-flex" %>
        <%= form.text_field :obs, size: 35, class: "form-control" %>
      </div>


      <div class="col-lg-5 offset-lg-1  mb-3">
        <%= form.submit "Salvar", class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>
