<p style="color: green"><%= notice %></p>

<h2 class="text-center m-4">Musicas</h2>

<div class="container justify-content-center shadow p-2">
  <div class="d-flex mb-4">
    <div class="d-flex">
    <%= link_to new_musica_path, class: "d-flex align-items-center " do %>
      <%= image_tag "plus.png", size: "50", class: "mr-4" %>
    <% end %>
    </div>
    <div class="m-2 align-items-end">
      <form action="/musicas" method="get" class="form-control"> 
        <input id="nome" name="nome" type="text" size="22" class=""/> 
        <button type="submit"><%= image_tag "lupa.png", size: "37", class: "" %></button>
      </form>
    </div>
  </div>
  <div class="">
    <table class="table table-striped">
      <thead class="bg-dark text-light">
      <tr>
        <th class="bg-dark text-light">Nome:</th>
        <th class="bg-dark text-light">Interprete:</th>
      </tr>
      </thead>

      <div id="musicas">
        <% @musicas.each do |musica| %>
          <%= render musica %>
          
        <% end %>
      </div>

    </table>
  </div>
</div>
