<p style="color: green"><%= notice %></p>

<%= render @musica %>
<div>
  <%= link_to "Adicionar Versão", new_versao_path(musica_id: @musica) %>
</div>

<div class="d-flex justify-content-center">
  <%= link_to "Editar musica", edit_musica_path(@musica), class: "btn btn-warning m-2"  %>
  <%= button_to "Deletar musica", @musica, method: :delete, class: "btn btn-danger m-2" %>
  <%= link_to "Voltar", musicas_path, class: "btn btn-secondary m-2" %>
</div>

