<%= form_with(model: ministerio) do |form| %>
  <% if ministerio.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ministerio.errors.count, "error") %> prohibited this ministerio from being saved:</h2>

      <ul>
        <% ministerio.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <div>
    <%= form.label :lider, style: "display: block" %>
    <%= form.select :lider, value: opcoes_de_lider %>
  </div>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :administrador, style: "display: block" %>
    <%= form.number_field :administrador %>
  </div>

  <div>
    <%= form.submit "Salvar", class: "btn btn-success" %>
  </div>
<% end %>
