<div id="<%= dom_id ministerio %>">
  <p>
    <strong>Membro:</strong>
    <%= ministerio.membro %>
  </p>

  <p>
    <strong>Lider:</strong>
    <%= ministerio.lider %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= ministerio.nome %>
  </p>

  <p>
    <strong>Administrador:</strong>
    <%= ministerio.administrador %>
  </p>

</div>
