<div id="<%= dom_id ministerio %>">

  <p>
    <strong>Lider:</strong>
    <%= ministerio.lider %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= ministerio.nome %>
  </p>

  <p>
    <strong>Administrador:</strong>
    <%= ministerio.administrador %>
  </p>

 <table class="table">
    <tr>
    <th>Membros</th>
    <th>Função</th>
    </tr>
    <% ministerio.usuarios.each do | membro | %>
    <tr>
    <td><%= membro.nome %></td>
    <td><%= membro.tipo_skill.nome %></td>
    <td><%= link_to "Editar", membro  %></td>
    </tr>
    <% end %>
  </table>

</div>
