<p style="color: green"><%= notice %></p>

<%= render @ministerio %>


<div>
  <%= link_to "Adicionar Membros", new_membro_path(id_ministerio: @ministerio) %>
</div>

<div>
  <%= link_to "Editar ministerio", edit_ministerio_path(@ministerio), class: "btn btn-warning m-2" %> |
  <%= button_to "Deletar", @ministerio, method: :delete, class: "btn btn-danger m-2" %>
  <%= link_to "Voltar", ministerios_path, class: "btn btn-secondary m-2" %>
</div>

