<p style="color: green"><%= notice %></p>

<%= render @ministerio %>


<div>
  <%= link_to "Adicionar Membros", new_membro_path(id_ministerio: @ministerio) %>
</div>

<div>
  <%= link_to "Edit this ministerio", edit_ministerio_path(@ministerio) %> |
  <%= link_to "Back to ministerios", ministerios_path %>

  <%= button_to "Destroy this ministerio", @ministerio, method: :delete %>
</div>
