<p style="color: green"><%= notice %></p>

<%= render @membro %>

<div class="d-flex justify-content-center">
  <%= link_to "Editar", edit_membro_path(@membro), class: "btn btn-warning m-2" %>
  <%= button_to "Deletar membro", @membro, method: :delete, class: "btn btn-danger m-2" %>
  <%= link_to "Voltar", membros_path, class: "btn btn-secondary m-2" %>
</div>




