<p style="color: green" class="text-center"><%= notice %></p>


<div class="container">
  <div class="row justify-content-center  mt-5">

    <div class="col-3 rounded shadow p-3 m-2 justify-content-center">
        <%= link_to escalas_path do %>
            <p class="text-center">Escalas</p>
            <span class="d-flex justify-content-center"><%= image_tag 'to-do-list.png', size: '100' %></span>
        <% end %>
    </div>

    <div class="col-3 rounded shadow p-3 m-2">
        <%= link_to membros_path do %>
            <p class="text-center">Membros</p>
            <span class="d-flex justify-content-center"><%= image_tag 'science.png', size: '100' %></span>
        <% end %>
    </div>

    <div class="col-3 rounded shadow p-3 m-2">
        <%= link_to musicas_path do %>
            <p class="text-center">Músicas</p>
            <span class="d-flex justify-content-center"><%= image_tag 'music.png', size: '100' %></span>
        <% end %>
    </div>

    <div class="col-3 rounded shadow p-3 m-2">
        <%= link_to tipo_skills_path do %>
            <p class="text-center">Skills</p>
            <span class="d-flex justify-content-center"><%= image_tag 'skills.png', size: '100' %></span>
        <% end %>
    </div>

    <div class="col-3 rounded shadow p-3 m-2">
        <%= link_to ministerios_path do %>
            <p class="text-center">Ministérios</p>
            <span class="d-flex justify-content-center"><%= image_tag 'ministerio.png', size: '100' %></span>
        <% end %>
    </div>

    <div class="col-3 rounded shadow p-3 m-2">
        <%= link_to escalas_path do %>
            <p class="text-center">Relatórios</p>
            <span class="d-flex justify-content-center"><%= image_tag 'analysis.png', size: '100' %></span>
        <% end %>
    </div>
  </div>


