<div id="<%= dom_id escala %>">
  <p>
    <strong>Data:</strong>
    <%= escala.data %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= escala.hora %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= escala.nome %>
  </p>

  <p>
    <strong>Musica:</strong>
    <%= escala.musica_id %>
  </p>

  <p>
    <strong>Baterista:</strong>
    <%= escala.baterista %>
  </p>

  <p>
    <strong>Baixista:</strong>
    <%= escala.baixista %>
  </p>

  <p>
    <strong>Tecladista:</strong>
    <%= escala.tecladista %>
  </p>

  <p>
    <strong>Vocalista:</strong>
    <%= escala.vocalista %>
  </p>

  <p>
    <strong>Vionolista:</strong>
    <%= escala.vionolista %>
  </p>

  <p>
    <strong>Guitarrista:</strong>
    <%= escala.guitarrista %>
  </p>

  <p>
    <strong>Outros:</strong>
    <%= escala.outros %>
  </p>

  <p>
    <strong>Obs:</strong>
    <%= escala.obs %>
  </p>

</div>
