<div id="<%= dom_id escala %>">

        <tr>
        <td><%= escala.nome %></td>
        <td><%= format_short_date escala.data %></td>
        <td><%= nome_musico escala.baterista %></td>
        <td><%= nome_musico escala.baixista %></td>
        <td><%= nome_musico escala.tecladista %></td>
        <td><%= nome_musico escala.vocalista %></td>
        <td><%= nome_musico escala.violonista %></td>
        <td><%= nome_musico escala.guitarrista %></td>
          <% if escala.musicas.any?%>
            <% escala.musicas.each do |musica| %>
              <%= musica.nome %><%= ', ' unless musica == escala.musicas.last %> 
            <% end %>
          <% else %>
            <p class="text-danger">Nenhuma música associada a esta escala.</p>
          <% end %>
        </td>
        <td>
          <%= link_to "Detalhar", escala %>
          <%= link_to "Excluir", escala_path(escala), method: :delete %>
        </td>
      </tr>


</div>
