<div id="<%= dom_id escala %>">
  <p>
    <strong>Data:</strong>
    <%= escala.data %>
  </p>

  <p>
    <strong>Hora:</strong>
    <%= escala.hora %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= escala.nome %>
  </p>

  <p>
    <strong>Baterista:</strong>
    <%= nome_musico escala.baterista %>
  </p>

  <p>
    <strong>Baixista:</strong>
    <%= nome_musico escala.baixista %>
  </p>

  <p>
    <strong>Tecladista:</strong>
    <%= nome_musico escala.tecladista %>
  </p>

  <p>
    <strong>Vocalista:</strong>
    <%= nome_musico escala.vocalista %>
  </p>

  <p>
    <strong>Vionolista:</strong>
    <%= nome_musico escala.vionolista %>
  </p>

  <p>
    <strong>Guitarrista:</strong>
    <%= nome_musico escala.guitarrista %>
  </p>

  <p>
    <strong>Outros:</strong>
    <%= escala.outros %>
  </p>

  <p>
    <strong>Obs:</strong>
    <%= escala.obs %>
  </p>

</div>
