<div class="container">

      <%= form_with(model: escala) do |form| %>
        <% if escala.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(escala.errors.count, "error") %> prohibited this escala from being saved:</h2>

            <ul>
              <% escala.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>


  <div class="row justify-content-center">
    <div class="col-4 rounded shadow p-3">
        <div class="form-control row border-primary">
          <h5 class="text-center m-4 text-primary">Informações Básicas</h5>
          <div class="mb-3">
            <%= form.label :nome, style: "display: block", class: "form-label" %>
            <%= form.text_field :nome, class: "form-control" %>
          </div>

          <div class="row mb-3">
            <div class="col-7">
              <%= form.label :data, style: "display: block", class: "form-label" %>
              <%= form.date_field :data, class: "form-control" %>
            </div>

            <div class="col-5">
              <%= form.label :hora, style: "display: block", class: "form-label" %>
              <%= form.time_field :hora, class: "form-control" %>
            </div>
          </div>

          <div class="mb-3">
            <%= form.label :outros, style: "display: block", class: "form-label" %>
            <%= form.text_field :outros, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :obs, style: "display: block", class: "form-label" %>
            <%= form.text_field :obs, class: "form-control" %>
          </div>

          <div>
            <%= form.submit class: "btn btn-success m-3" %>
          </div>
        </div>
    </div>
    <div class="col-4 rounded shadow p-3">
        <div class="form-control border-success">
          <h5 class="text-center m-4 text-success">Membros</h5>
          <div class="mb-3">
            <%= form.label :baterista, style: "display: block", class: "form-label" %>
            <%= form.select :baterista, value: opcoes_de_baterista, class: "form-select" %>
          </div>

          <div class="mb-3">
            <%= form.label :baixista, style: "display: block", class: "form-label" %>
            <%= form.select :baixista, value: opcoes_de_baixista, class: "form-select" %>
          </div>

          <div class="mb-3">
            <%= form.label :tecladista, style: "display: block", class: "form-label" %>
            <%= form.select :tecladista, value: opcoes_de_tecladista, class: "form-select" %>
          </div>

          <div class="mb-3">
            <%= form.label :vocalista, style: "display: block", class: "form-label" %>
            <%= form.select :vocalista, value: opcoes_de_vocalista, class: "form-select" %>
          </div>

          <div class="mb-3">
            <%= form.label :violonista, style: "display: block", class: "form-label" %>
            <%= form.select :violonista, value: opcoes_de_violonista, class: "form-select" %>
          </div>

          <div class="mb-3">
            <%= form.label :guitarrista, style: "display: block", class: "form-label" %>
            <%= form.select :guitarrista, value: opcoes_de_guitarrista, class: "form-select" %>

          </div>

        </div>
    </div>
    <div class="col-4 rounded shadow p-3">
        <div class="form-control border-warning">  
        <h5 class="text-center m-4 text-warning">Músicas</h5>
          <div class="m-3">
            <%= form.label :musica1_id, "Música 1", style: "display: block", class: "form-label" %>
            <%= form.select :musica1_id, opcoes_de_musica.map { |musica| [musica.nome, musica.id] }, { selected: @escala.musicas.first&.id }, id: "escala_musica1_id" %>

            <%= form.label :musica1_versao, "Versão", style: "display: block" %>
            <% if controller.action_name == 'edit' %>
              <%= form.select :musica1_versao, opcoes_de_versao(@escala.musicas.first.id).map { |versao| [versao.nome, versao.id] }, {}, id: "versao_musica1" %>
            <% else %>
              <%= form.select :musica1_versao, [], { include_blank: true }, id: "versao_musica1" %>
            <% end %>
          </div>

          <div class="m-3">
            <%= form.label :musica2_id, "Música 2", style: "display: block", class: "form-label" %>
            <%= form.select :musica2_id, opcoes_de_musica.map { |musica| [musica.nome, musica.id] }, { selected: @escala.musicas.second&.id }, id: "escala_musica2_id" %>

            <%= form.label :musica2_versao, "Versão", style: "display: block" %>
            <% if controller.action_name == 'edit' %>
              <%= form.select :musica2_versao, opcoes_de_versao(@escala.musicas.second.id).map { |versao| [versao.nome, versao.id] }, {}, id: "versao_musica2" %>
            <% else %>
              <%= form.select :musica2_versao, [], { include_blank: true }, id: "versao_musica2" %>
            <% end %>
          </div>

          <div class="m-3">
            <%= form.label :musica3_id, "Música 3", style: "display: block", class: "form-label" %>
            <%= form.select :musica3_id, opcoes_de_musica.map { |musica| [musica.nome, musica.id] }, { selected: @escala.musicas.third&.id }, id: "escala_musica3_id" %>

            <%= form.label :musica3_versao, "Versão", style: "display: block" %>
            <% if controller.action_name == 'edit' %>
              <%= form.select :musica3_versao, opcoes_de_versao(@escala.musicas.third.id).map { |versao| [versao.nome, versao.id] }, {}, id: "versao_musica3" %>
            <% else %>
              <%= form.select :musica3_versao, [], { include_blank: true }, id: "versao_musica3" %>
            <% end %>
          </div>


          
      <% end %>
    </div>
    </div>
  </div>
</div>

