<p style="color: green"><%= notice %></p>

<h1 class="text-center">Escalas</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="rounded shadow p-3 m-2">
      <table class="table">
        

        <tr>
          <td class="fw-bold text-center">Nome</td>
          
          <td class="fw-bold"><%= image_tag 'calendar.png', size: '25', class: '' %>Data</td>
          
          <td class="fw-bold "><%= image_tag 'drum-set.png', size: '25', class: '' %>Bat</td>
          
          <td class="fw-bold"><%= image_tag 'bass-guitar.png', size: '25', class: '' %>Bai</td>
         
          <td class="fw-bold"><%= image_tag 'synthesizer.png', size: '25', class: '' %>Tec</td>
          
          <td class="fw-bold"><%= image_tag 'microphone.png', size: '25', class: '' %>Voc</td>
          
          <td class="fw-bold"><%= image_tag 'guitar.png', size: '25', class: '' %>Vio</td>
       
          <td class="fw-bold"><%= image_tag 'electric-guitar.png', size: '25', class: '' %>Guit</td>

          <td class="fw-bold"><%= image_tag 'music.png', size: '25', class: '' %>Músicas</td>

          <td class="fw-bold">Ações</td>
          
        </tr>
      </div>
    </div>
  </div>

<div id="escalas">
  <% @escalas.each do |escala| %>
    <%= render escala %>
  <% end %>
</div>

<%= link_to new_escala_path do %>
<%= image_tag "plus.png", size: "50", class: "mb-4" %>
<% end %>
