<%= form_with(model: usuario) do |form| %>
  <% if usuario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.text_field :role %>
  </div>

  <div>
  <%= form.label :tipo_skill_ids, "Skills", style: "display: block" %>
  <%# form.select :tipo_skill_ids, opcoes_de_skills, {}, multiple: true %>
  <% opcoes_de_skills.each do |skill| %>
    <div>
      <%= form.check_box :tipo_skill_ids, { multiple: true }, skill[1], nil %>
      <%= form.label "usuario_tipo_skill_id_#{skill[1]}", skill[0] %>
    </div>
  <% end %>
</div>


  <div>
    <%= form.submit "Salvar", class: "btn btn-success" %>
  </div>
<% end %>
