<div id="<%= dom_id usuario %>">
  <p>
    <strong>Email:</strong>
    <%= usuario.email %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= usuario.nome %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= usuario.role %>
  </p>

  <p>
    <strong>Tipo skill:</strong>
    <%= usuario.tipo_skill.nome %>
  </p>

</div>
