<p style="color: green"><%= notice %></p>

<%= render @usuario %>

<div class="d-flex justify-content-center">
  <%= link_to "Editar usuario", edit_usuario_path(@usuario), class: "btn btn-warning m-2" %>
  <%= button_to "Deletar usuario", @usuario, method: :delete, class: "btn btn-danger m-2" %>
  <%= link_to "Voltar", usuarios_path, class: "btn btn-secondary m-2" %>
</div>
