<p style="color: green" class="text-center"><%= notice %></p>

<%= render @versao %>

<div  class="d-flex justify-content-center">
  <%= link_to "Edit this versao", edit_versao_path(@versao) %> |
  <%= link_to "Back to versaos", versaos_path %>

  <%= button_to "Destroy this versao", @versao, method: :delete %>
</div>

