<!-- Cabeçalho -->
    <header class="app-header text-center">
        <h1>Ministério de Louvor - IEC</h1>
    </header>

    <!-- Navegação -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <%= link_to "Home", home_path, class:"navbar-brand #{ "active" if current_page?(controller: 'home')}" %>
        
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <%= link_to "Escalas", escalas_path, class:"nav-link #{ "active" if current_page?(controller: 'escalas')}" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Músicas", musicas_path  , class:"nav-link #{ "active" if current_page?(controller: 'musicas')}" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Membros", membros_path, class:"nav-link #{ "active" if current_page?(controller: 'membros')}" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Skills", tipo_skills_path, class:"nav-link #{ "active" if current_page?(controller: 'tipo_skills')}" %>
                    </li>
                    <li>
                      <%= link_to "Ministérios", ministerios_path, class:"nav-link #{ "active" if current_page?(controller: 'ministerios')}" %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <%= @admin %>